
.reatbox{
    text-align: center;
    height: 10%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(72, 169, 248);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }
  .fa-star{
    color: #f7d053;
  }